<style id='taqyeem-styles-inline-css' type='text/css'>
.wf-active .logo-text,.wf-active h1,.wf-active h2,.wf-active h3,.wf-active h4,.wf-active h5,.wf-active h6{
	font-family: 'Poppins';
}
#main-nav .main-menu > ul > li > a{
	text-transform: uppercase;
}
.tie-cat-12,.tie-cat-item-12 > span{
	background-color:#e67e22 !important;color:#FFFFFF !important;
}
.tie-cat-12:after{
	border-top-color:#e67e22 !important;
}
.tie-cat-12:hover{
	background-color:#c86004 !important;
}
.tie-cat-12:hover:after{
	border-top-color:#c86004 !important;
}
.tie-cat-19,.tie-cat-item-19 > span{
	background-color:#2ecc71 !important;color:#FFFFFF !important;
}
.tie-cat-19:after{
	border-top-color:#2ecc71 !important;
}
.tie-cat-19:hover{
	background-color:#10ae53 !important;
}
.tie-cat-19:hover:after{
	border-top-color:#10ae53 !important;
}
.tie-cat-23,.tie-cat-item-23 > span{
	background-color:#9b59b6 !important;color:#FFFFFF !important;
}
.tie-cat-23:after{
	border-top-color:#9b59b6 !important;
}
.tie-cat-23:hover{
	background-color:#7d3b98 !important;
}
.tie-cat-23:hover:after{
	border-top-color:#7d3b98 !important;
}
.tie-cat-24,.tie-cat-item-24 > span{
	background-color:#34495e !important;color:#FFFFFF !important;
}
.tie-cat-24:after{
	border-top-color:#34495e !important;
}
.tie-cat-24:hover{
	background-color:#162b40 !important;
}
.tie-cat-24:hover:after{
	border-top-color:#162b40 !important;
}
.tie-cat-28,.tie-cat-item-28 > span{
	background-color:#795548 !important;color:#FFFFFF !important;
}
.tie-cat-28:after{border-top-color:#795548 !important;}
.tie-cat-28:hover{background-color:#5b372a !important;}
.tie-cat-28:hover:after{border-top-color:#5b372a !important;}
.tie-cat-29,.tie-cat-item-29 > span{
	background-color:#4CAF50 !important;color:#FFFFFF !important;
}
.tie-cat-29:after{border-top-color:#4CAF50 !important;}
.tie-cat-29:hover{background-color:#2e9132 !important;}
.tie-cat-29:hover:after{border-top-color:#2e9132 !important;}
@media (max-width: 991px){
	.side-aside.dark-skin{background: #2f88d6;background: -webkit-linear-gradient(135deg,#2f88d6,#5933a2 );background: -moz-linear-gradient(135deg,#2f88d6,#5933a2 );background: -o-linear-gradient(135deg,#2f88d6,#5933a2 );background: linear-gradient(135deg,#2f88d6,#5933a2 );}}#mobile-search .search-submit{background-color: #0a0000;color: #FFFFFF;}#mobile-search .search-submit:hover{background-color: #000000;}
</style>
